<style>
  body {
    margin: 0;
  }
  h3 {
    border-left: 1px solid black;
    margin-left: 21px;
    margin-right: 21px;
    padding-left: 10px;
  }
  a {
    color: black;
    text-decoration: none;
  }
  h2 {
    color: white;
    font-size: 90px;
    text-align: left;
    margin: 0px;
    padding: 20px;
    }
  p {
    margin: 0;
    font-size: 25px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 70px;
    text-align: justify;
  }
  img {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
  }
  #im {
    display: grid;
    grid-template-columns: 950px 1fr;
  }
</style>
